@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$primary: #324ca1;
$secondary: #787878;
$text-color: #343434;
$gray: #d4d4d4;
$white: #ffffff;

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  margin: 0;
  padding: 0;

  background-color: #f4f4f4;
}
.App {
  width: 100vw;
}
.banner__container {
  width: 100%;
  background-color: $primary;
  color: $white;
  height: 55px;
  font-size: 18px;
  position: fixed;
  top: 0;
}
.banner__container__spacer {
  margin-right: 8em;
}
.header__container {
  width: 100%;
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__container__content {
  width: 100%;
  max-width: 1360px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__container__logo {
  width: 150px;
}
.header__container__nav {
  position: relative;
  display: flex;
  align-items: center;
  background-color: $white;
  border-radius: 50px;
  padding-left: 1em;
}
.header__container__nav__link {
  position: relative;
}
.header__container__nav__link__input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
}
.header__container__nav__link__content {
  padding: 0.7em 1.2em;
  border-radius: 50px;
  font-size: 16px;
}
.header__container__nav__link__input:hover
  ~ .header__container__nav__link__content,
.header__container__nav__link__input:checked
  ~ .header__container__nav__link__content {
  transition: 300ms ease-in-out;
  background-color: $primary;
  color: $white;
  box-shadow: 0px 0px 30px rgba(50, 76, 161, 0.6);
}
.search__bar {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  padding: 0em 1em;
  overflow-x: hidden;
  animation: 2s search__bar__open;
}
.search__bar__field {
  flex: 1;
  height: 100%;
  padding: 1em;
  border: none;
  outline: none;
}
.search__bar__field::placeholder {
  text-align: right;
}
.search__bar__btn,
.search__btn,
.menu__btn {
  width: 40px;
  height: 40px;
  padding: 0em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $text-color;
}
.search__bar__btn:hover,
.search__btn:hover,
.menu__btn:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
  color: $white;
}
@keyframes search__bar__open {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
.search__btn {
  position: relative;
}
.search__btn__input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1360px;
  margin: 1.5em auto;
}
.home__container {
  display: flex;
  flex-direction: column;
}
.home__container__jumbotron {
  display: flex;
  justify-content: space-between;
}
.home__container__jumbotron__left {
  width: 25%;
  margin-right: 1em;
  max-height: 810px;
  overflow-y: auto;
  padding-right: 0.5em;
}
.home__container__jumbotron__left::-webkit-scrollbar {
  width: 10px;
}
.home__container__jumbotron__left::-webkit-scrollbar-thumb {
  background-color: $gray;
  border-radius: 50px;
}
.home__container__jumbotron__left::-webkit-scrollbar-track {
  background-color: transparent;
}
.home__container__jumbotron__right {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.home__container__jumbotron__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.recent__news__card {
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}
.recent__news__card__heading {
  text-align: right;
  margin-right: 1em;
  font-size: 16px;
  font-weight: bold;
  color: $text-color;
}
.recent__news__card__img {
  border-radius: 18px;
  height: 80px;
  width: 80px;
}
.recent__news__card:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(50, 76, 161, 0.5);
  background-color: $primary;
  transform: translateY(-10px);
}
.recent__news__card:hover .recent__news__card__heading {
  transition: 300ms ease-in-out;
  color: $white;
}
.main__news__card {
  width: 100%;
  height: 420px;
  background-color: #324ca1;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.main__news__card__img {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
}
.main__news__card__content {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(50, 76, 161, 0.5);
  padding: 3em;
}
.main__news__card__content__heading {
  font-size: 25px;
  color: $white;
  font-weight: bold;
  margin-bottom: 0.5em;
  width: 40%;
  text-align: right;
}
.main__news__card__content__info {
  font-size: 16px;
  color: $white;
  font-weight: bold;
  margin-bottom: 0.8em;
  width: 50%;
  text-align: right;
}
.main__news__card__content__btn {
  padding: 0.8em 1.5em;
  border-radius: 50px;
  background-color: $white;
  border: none;
  font-size: 16px;
  color: $primary;
  font-weight: bold;
}
.main__news__card__content__btn:hover {
  transition: 300ms ease-in-out;
  background-color: $primary;
  color: $white;
}
.news__card {
  background-color: $white;
  border-radius: 20px;
  flex: 1;
  margin: 1em 0em;
  margin-right: 1.5em;
}
.news__card:last-child {
  margin-right: 0em;
}
.news__card__content {
  padding: 1.5em;
}
.news__card__heading {
  font-size: 16px;
  color: $text-color;
  text-align: right;
  font-weight: bold;
  margin-bottom: 0.5em;
  height: 42px;
  overflow: hidden;
}
.news__card__info {
  font-size: 14px;
  color: $text-color;
  text-align: right;
  height: 105px;
  overflow: hidden;
}
.news__card__img {
  width: 100%;
  border-radius: 20px;
  height: 170px;
}
.news__card:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(50, 76, 161, 0.5);
  background-color: $primary;
  transform: translateY(-10px);
}
.news__card:hover .news__card__heading {
  transition: 300ms ease-in-out;
  color: $white;
}
.news__card:hover .news__card__info {
  transition: 300ms ease-in-out;
  color: $white;
}
.home__container__recent {
  width: 100%;
  display: flex;
  align-items: center;
}
.home__container__recent__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1.5em;
  flex: 1;
  height: 350px;
}
.home__container__recent__col:last-child {
  margin-right: 0em;
}
.home__container__recent__col img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.news__card__small {
  background-color: $white;
  padding: 2em 1.3em;
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.news__card__small__img {
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
  border-radius: 10px;
}
.news__card__small__content {
  margin-right: 1em;
  display: flex;
  flex-direction: column;
}
.news__card__small__content__heading {
  font-size: 16px;
  color: $text-color;
  font-weight: bold;
  text-align: right;
  margin-bottom: 0.5em;
}
.news__card__small__content__info {
  font-size: 14px;
  color: $text-color;
  text-align: right;
}
.news__card__small:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(50, 76, 161, 0.5);
  background-color: $primary;
  transform: translateY(-10px);
}
.news__card__small:hover .news__card__small__content__heading,
.news__card__small:hover .news__card__small__content__info {
  transition: 300ms ease-in-out;
  color: $white;
}
.home__container__trending__topics {
  display: flex;
  justify-content: space-between;

  margin: 1.5em 0em;
}
.home__container__trending__topics__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 900px;
  flex: 1;

  margin-right: 1.2em;
}
.home__container__trending__topics__col:last-child {
  margin-right: 0em;
}
.trending__topics__card {
  border-radius: 15px;
  position: relative;
  margin-bottom: 1.2em;
}
.trending__topics__card:last-child {
  margin-bottom: 0em;
}
.trending__topics__card__img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.trending__topics__card__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: transparent;
  border-radius: 15px;
}
.trending__topics__card__content__heading {
  font-size: 16px;
  color: $white;
  font-weight: bold;
  text-align: right;
  margin-bottom: 0.3em;
}
.trending__topics__card__content__info {
  font-size: 14px;
  color: $white;
  text-align: right;
  display: block;
  height: 55px;
  overflow: hidden;
}
.trending__topics__card:hover .trending__topics__card__content {
  transition: 300ms ease-in-out;
  background: linear-gradient(rgba(0, 0, 0, 0.6), #000000);
}
.trending__topics__card:hover .trending__topics__card__content__info {
  animation: 3s trending__topics__card__open;
  height: 164px;
}
@keyframes trending__topics__card__open {
  from {
    height: 55px;
  }
  to {
    height: 164px;
  }
}
.news__catagory {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.news__catagory__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news__catagory__header__heading {
  font-size: 22px;
  color: $text-color;
  font-weight: bold;
}
.news__catagory__header__btn {
  font-size: 16px;
  color: $text-color;
  text-decoration: underline;
}
.news__catagory__header__btn:hover {
  color: $primary;
  font-weight: bold;
}
.news__catagory__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catagory__container {
  display: flex;
  flex-direction: column;
}
.catagory__container__header {
  width: 100%;
  position: relative;
  height: 250px;
  overflow: hidden;
  border-radius: 20px;
  margin-bottom: 2em;
}
.catagory__container__header__img {
  max-width: 100%;
  min-height: 100%;
}
.catagory__container__header__content {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(50, 76, 161, 0.5), rgba(56, 92, 43, 0.5));
  color: $white;
  font-size: 60px;
}
.catagory__container__content {
  display: flex;
  justify-content: space-between;
}
.catagory__container__content__right {
  margin-left: 2em;
  min-width: 20%;
  display: flex;
  flex-direction: column;
}
.catagory__container__content__right__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.city__card {
  flex: 1;
  margin-right: 1em;
  background-color: $white;
  padding: 1em;
  border-radius: 10px;
}
.city__card:last-child {
  margin-right: 0em;
}
.city__card__img {
  width: 100%;
  height: 70px;
  border-radius: 10px;
}
.city__card__heading {
  font-size: 16px;
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
}
.city__card:hover {
  transition: 300ms ease-in-out;
  box-shadow: 0px 0px 30px rgba(50, 76, 161, 0.5);
  background-color: $primary;
  transform: translateY(-10px);
}
.city__card:hover .city__card__heading {
  transition: 300ms ease-in-out;
  color: $white;
}
.home__container__trending__catagory__left {
  width: 30%;
  margin-right: 1.5em;
  margin-top: 0.6em;
}
.home__container__jumbotron__img {
  border-radius: 20px;
}
.home__container__jumbotron__content {
  display: flex;
  flex-direction: column;
}
.home__container__jumbotron__content__header {
  margin: 1.5em 0em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home__container__jumbotron__content__header__heading {
  font-size: 20px;
  color: $text-color;
  font-weight: bold;
  text-align: right;
}
.home__container__jumbotron__content__header__btn {
  padding: 0em;
  border-radius: 50px;
  background-color: transparent;
  border: none;
  margin-right: 0.5em;
  cursor: pointer;
}
.home__container__jumbotron__content__header__btn__img {
  width: 30px;
  height: 30px;
}
.home__container__jumbotron__content__header__btn:hover {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}
.home__container__jumbotron__content__info {
  text-align: right;
  font-size: 16px;
  color: $text-color;
  margin-bottom: 2em;
}

@media (max-width: 1440px) {
  .header__container__content,
  .container {
    padding: 0em 5em;
  }
}
